<!DOCTYPE html>
<html>
   <head>
      <title>Login</title>
   </head>
   <body>
      <h3>Login Form</h3>
      <form action="/login" method="POST">
         <div>{{ msg }}</div>
         <br>
         <label>Username</label>
         <input type="text" name="username" placeholder="Enter username" required>
         <br>
         <label>Password</label>
         <input type="password" name="password" placeholder="Enter password" required>
         <button type="submit">Add</button>
      </form>
   </body>
</html>